body {
    /* background-color: black; */
    background-image: url('../images/5-earthandmars.jpg')
}

h1 {
    font-size: 80px !important;
}


.jumbotron {
    color: rgb(146, 140, 140);
    background-color: black;
    opacity: .8;
    text-align: center !important;
    /* background-image: url('../images/Centered2.JPG') !important; */
    /* width: 938px !important;
    height: 340px !important;
    padding-top: 100px !important;  */
    height: 300px !important;
    /* background-size: cover;  */
    padding: 80px 0px;
    /* padding-top: 120px; */
    margin: 0px; */
}

.center {
    padding-top: 170px; 
}

.minitron {
    color: rgb(204, 194, 194);
    background-color: black;
    opacity: .9;
    text-align: center !important;
}